html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, #ffcccc, #ff99cc);
    overflow: hidden; /* Evita el scroll */
}

.container {
    max-width: 90vw; /* Máximo 90% del ancho de la pantalla */
    max-height: 90vh; /* Máximo 90% del alto de la pantalla */
    overflow: hidden; /* Evita desbordamientos */
}

/* Ajustar la imagen principal */
#gifContainerImg {
    max-width: 60vw;
    max-height: 60vh;
}

/* Botones */
button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    max-width: 90%;
}

#siBtn {
    background-color: #009705;
    color: white;
    border: 2px solid #FFC0CB;
    border-radius: 10px;
}

#noBtn {
    background-color: #FF5733;
    color: white;
    border: 2px solid #FFC0CB;
    border-radius: 10px;
}

/* Mensajes */
#messageContainer {
    font-size: 30px;
    color: #FF0000;
    text-shadow: 2px 2px 4px #000;
    animation: pulse 0.5s infinite alternate;
}

/* GIFs */
.floatingGif {
    max-width: 30vw; /* Ajustar tamaño relativo */
    max-height: 30vh;
    object-fit: contain;
}

/* Animación de mensaje */
@keyframes pulse {
    from { transform: scale(1); }
    to { transform: scale(1.3); }
}
